/* import a font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

/* fix how padding, margin is calculated */
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    font-family: 'Inter', sans-serif;
    background: url("img/background.png");
    color: #444;
}

strong {
    font-weight: 500;
}

/* button styles */

button {
    font-family: inherit;
    font-size: inherit;
    border-width: 0.1em;
    border-style: solid;
    border-radius: 0.2em;
    padding: 0.4em 1.1em;
}

button.dark {
    border-color: #333;
    color: #eee;
    background-color: #37404F;
}

button.dark:hover {
    background-color: #3A4454;
}

button.dark:active {
    border-color: #253144;
    background-color: #434F60;
}

button.light {
    border-color: #333;
    color: #444;
    background-color: white;
}

button.light:hover {
    background-color: #F2F2F2;
}

button.light:active {
    border-color: #253144;
    background-color: #C4C4C4;
}

/* main body */

main {
    margin: auto;
    max-width: 60em;
    line-height: 1.6em;
}

main article {
    background-color: white;
    margin: 0em 0.5em 1em;
    padding: 1em 2em;
    box-shadow: rgba(0, 0, 0, 0.16) 0em 0.025em 1em;
}

main > article:first-child {
    margin: 1em 0.5em 1em;
}

main h2 {
    font-weight: 500;
    font-size: 1.8em;
    margin: 0.5em 1em 1em;
    text-align: center;
}

main h3 {
    font-weight: 500;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

main h3 > time {
    font-weight: initial;
    font-size: 0.9em;
}

main li {
    margin-left: 1.0em;
}

main ul > li::before {
    content: "-";
    padding-inline-end: 0.5em;
}

main p {
    margin: 0.5em 0 1em;
}

main a {
    color: #103875;
}

main a:hover {
    text-decoration: underline;
}

main table {
    table-layout: fixed;
    width: 100%;
}

/* floating image/figure */

figure.float-left, figure.float-right {
    margin: 0.5em 1em;
}

figure.float-right {
    float: right;
}

figure.float-left {
    float: left;
}

figure.full-width {
    max-width: 100%;
}

figure.full-width > img {
    width: 100%;
    height: 40vw;
    max-height: 25em;
    object-fit: cover;
}

@media (max-width: 30em) {
    figure.float-left, figure.float-right {
        float: none;
        max-width: 100%;
        margin: unset;
    }

    figure > img {
        width: 100%;
        height: 40vw;
        object-fit: cover;
    }
}

/* non-standard */
div.banner {
    height: 90vh;
    /* background */
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ),
        url("img/banner.jpg");
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.5);
    /* text */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.banner > .container {
    text-align: center;
}

div.banner > .container > * {
    text-align: center;
    padding-bottom: 0.5em;
}

div.banner h1 {
    font-size: 1.8em;
    font-weight: 300;
    letter-spacing: 0.15em;
}

div.banner h2 {
    font-size: 1.4em;
    /* font-weight: 300; */
    letter-spacing: 0.10em;
}

/* projects */
div.project {
    padding-bottom: 2em;
    display: grid;
    grid-gap: 5px 5px;
    grid-template-areas:
        "head img"
        "para img";
    grid-template-columns: 1fr 10em;
}

div.project > .head {
    grid-area: head;
}

div.project > .img {
    grid-area: img;
    width: 10em;
}

div.project > .para {
    grid-area: para;
}


@media (max-width: 30em) {
    div.project {
        display: grid;
        grid-template-areas:
            "head"
            "img"
            "para";
        grid-template-columns: 1fr;
    }

    div.project > .img {
        grid-area: img;
        width: 100%;
    }
    /* figure.float-left, figure.float-right {
        float: none;
        max-width: 100%;
        margin: unset;
    }

    figure > img {
        width: 100%;
        height: 40vw;
        object-fit: cover;
    } */
}